@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffecdc;
}

a {
  color: #ec407a;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #e91e63;
  text-decoration: underline;
}